---
layout: base.njk
title: Simon Roth
description: Webenthusiast für ein nachhaltiges Internet bei cyon
---

<div class="min-h-full flex flex-col items-center justify-center p-5 bg-gray-200 dark:bg-gray-800">
  <h1 class="text-4xl text-green-800 dark:text-green-300 font-semibold">Simon Roth</h1>
  <h2 class="text-lg text-center text-green-800 dark:text-green-300">Webenthusiast für ein nachhaltiges Internet bei <a class="underline hover:text-green-900 dark:hover:text-green-200 transition duration-200 ease-in-out" href="https://www.cyon.ch/ueber-uns/team#sr">cyon</a></h2>
  <p class="pt-4">
    <a class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-900 text-green-800 dark:text-green-300 dark:hover:text-green-200 border dark:border-green-300 dark:hover:border-green-200 font-medium py-2 px-4 rounded transition duration-200 ease-in-out" href="https://www.linkedin.com/in/simon-roth/">LinkedIn</a>
    <a class="ml-2 bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-900 text-green-800 dark:text-green-300 dark:hover:text-green-200 border dark:border-green-300 dark:hover:border-green-200 font-medium py-2 px-4 rounded transition duration-200 ease-in-out" href="https://github.com/simonroth">GitHub</a>
  </p>
</div>
